@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Fascinate&family=Lato&display=swap');


// _colors.scss
$primary-BGColor: #141414;
$secondary-BGColor: #f3f2f3;


// fontColor

$primaryFont:"Cousine";