.navbar {
    border: 1px solid black;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    height: 60px;


&__logo{
    background-color: black;
}

&__nav {
    background-color: aqua;
    height: 50px;
    width: 700px;
    border: 2px solid black;
    border-radius: 30px;
    ul {
        display: grid;
        grid-template-columns: repeat(4,20%);
        align-items: center;
        justify-content: center;
        list-style: none;
    }

}

&__ login {
    background-color: blue;
}

}